node_modules
**/node_modules
**/dist
build-assets
.git
.github
.cursor
coverage
.DS_Store
.env
.env.*
*.md
!README.md
data/sqlite/*
!data/sqlite/.gitkeep
data/automations/*
!data/automations/.gitkeep
data/logs/*
!data/logs/.gitkeep
apps/cli/dist
